
GeneratedFiles/Debug/moc_AddPlotPair.cpp
GeneratedFiles/Debug/moc_AdvancedDataManager.cpp
GeneratedFiles/Debug/moc_EventSetting.cpp
GeneratedFiles/Debug/moc_FreeWidgetWraper.cpp
GeneratedFiles/Debug/moc_IconSetting.cpp
GeneratedFiles/Debug/moc_PlotAttitude.cpp
x64/Debug/qcustomplot.obj
GeneratedFiles/Debug/moc_PlotBar.cpp
*.obj
*.tlog
GeneratedFiles/Debug/moc_PlotItemBase.cpp
GeneratedFiles/Debug/moc_PlotLight.cpp
.vs/PlotXYDemo/v14/.suo
GeneratedFiles/Debug/moc_PlotManager.cpp
GeneratedFiles/Debug/moc_PlotPolar.cpp
GeneratedFiles/Debug/moc_PlotText.cpp
GeneratedFiles/Debug/moc_PlotXYDemo.cpp
GeneratedFiles/Debug/moc_StippleSetting.cpp
GeneratedFiles/Debug/moc_SubSettingWidgetContainer.cpp
GeneratedFiles/Debug/moc_TimeControls.cpp
GeneratedFiles/Debug/moc_ToolBox.cpp
GeneratedFiles/Debug/moc_ToolPage.cpp
GeneratedFiles/Debug/qrc_toolbar.cpp
GeneratedFiles/Debug/ui_AddPlotPair.h
GeneratedFiles/Debug/ui_AdvancedDataManager.h
GeneratedFiles/Debug/ui_ColorRanges.h
GeneratedFiles/Debug/ui_EventSetting.h
GeneratedFiles/Debug/ui_Extrapolation.h
GeneratedFiles/Debug/ui_General.h
GeneratedFiles/Debug/ui_IconSetting.h
GeneratedFiles/Debug/ui_LabelSettings.h
GeneratedFiles/Debug/ui_LabelText.h
GeneratedFiles/Debug/ui_PlotItemBase.h
GeneratedFiles/Debug/ui_PlotManager.h
GeneratedFiles/Debug/ui_PlotXYDemo.h
GeneratedFiles/Debug/ui_StippleSetting.h
GeneratedFiles/Debug/ui_TimeControls.h
GeneratedFiles/Debug/ui_ToolBox.h
GeneratedFiles/Debug/ui_ToolPage.h
PlotXYDemo.vcxproj
*.log
*.pdb
x64/Debug/PlotXYDemo.ilk
PlotXYDemo.vcxproj.user
PlotXYDemo.vcxproj.filters
PlotXYDemo.vcxproj
PlotXYDemo.sln
PlotXYDemo.sdf
GeneratedFiles/Debug/moc_colorbutton.cpp
GeneratedFiles/Debug/moc_DataPair.cpp
GeneratedFiles/Debug/moc_PlotAScope.cpp
GeneratedFiles/Debug/moc_PlotDial.cpp
GeneratedFiles/Debug/moc_PlotDoppler.cpp
GeneratedFiles/Debug/moc_PlotManagerData.cpp
GeneratedFiles/Debug/moc_PlotRTI.cpp
GeneratedFiles
*.cpp
*.h
*.txt
plotxy/
PlotXYDemo.opensdf
x64/Debug/PlotXYDemo.exe
PlotXYDemo.sdf
PlotXYDemo.sln
PlotXYDemo.vcxproj
PlotXYDemo.vcxproj.filters
PlotXYDemo.vcxproj.user
*.pro.user
*.opendb
*.vcxproj.user
*VC.db

